v\:* {
  behavior:url(#default#VML);
}

img.logo {
  border-width: 0;
  vertical-align: middle;
}

html.noscroll {
  overflow: hidden;
}

html.noscroll, body.noscroll {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: small;
  font-family: Arial, sans-serif;
}

div.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

span.title, div.title {
  font-size: large;
  font-weight: bold;
}

div.description {
  margin-top: 0.5em;
  margin-left: 2.5em;
  margin-bottom: 0.5em;
}

div.pagelist {
  text-align: center;
}

div.news {
  background-color: #dddddd;
  margin-top: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 0.5em;
  border-style: solid;
  border-color: #888888;
  border-width: thin thin thin thin;
}

div.news_list {
  margin: 0.5em;
}

table.main {
  margin-left: 5%;
}

td {
  vertical-align: top;
}

td.map {
  vertical-align: middle;
  padding-left: 1em;
  padding-right: 1em;
}

td.buttons {
  text-align: center;
}

td.description {
  word-break: break-all; 
}

.fieldWithErrors {
  padding: 1px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 80%;
  margin-left: 10%;
  border: 1px solid red;
  background-color: #f0f0f0;
}
