{% extends "layout.html" %}
{% block javascript %}
    {% if mode != 'smart' %}
    <script src="/js/gmap/core.js" type="text/javascript"></script> 
    <script src="/js/gmap/formutils.js" type="text/javascript"></script> 

    <!-- script for standard map -->
    <script type="text/javascript">
    //<![CDATA[
    window.onload   = init_maps;
    window.onunload = GUnload;

    function init_maps() {
      if(GBrowserIsCompatible()) {
        {% for map in maps %}
        new GoogleMap('map{{ map.id }}', '/xml/{{ map.id }}');
        {% endfor %}
      }
    }
    //]]>
    </script>
    {% endif %}
{% endblock %}

{% block content_body %}
{% for map in maps %}
{% include "parts/map.html" with context %}
{% if not loop.last %}
<hr width="95%" />
{% endif %}
{% endfor %}

    <div class="pagelist">
      {% if page > 0 %}
      <a href="{{ url_for("list", page=page-1, mode=mode) }}">prev</a>
      {% endif %}
      {% if nextpage %}
      <a href="{{ url_for("list", page=page+1, mode=mode) }}">next</a>
      {% endif %}
    </div>
{% endblock %}
