{% extends "layout.html" %}
{% block content_body %}
    <div class="title">
      ■ What's GMappers?
    </div>
    <div class="description">
      <p>
        GMappers! は地図好きの地図好きによる地図好きのためのサイトです。<br />
        GoogleMap で提供されている世界地図にマーカーやラインを使って、<br />
        自分だけの地図を作っていくことができます。<br />
      </p>
      <p>
        完成した地図は GMappers! 上で公開され、他の人と共有されます。<br />
      </p>
    </div>

    <div class="title">
      ※ 注意事項
    </div>
    <div class="description">
      <ul>
        <li>このサイトで提供している地図情報は必ずしも正しいものとは限りません。
            内容が正しいかどうかは閲覧者が自分で確認してください。
        <li>いわゆる「公序良俗に反する」データについては、
            管理側で発見し次第削除します。
      </ul>
    </div>

    <hr />

    <div>
      Google MAP (Google Maps API) について
    </div>
    <div class="description">
      GMappers! は Google MAP が無くしては完成しませんでした。<br />
      最大限の感謝を Google の方向に送ってあげてください。
    </div>
{% endblock %}
